/*Universal Styling*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald';
}

li, p {
	font-family: 'Fjalla One';
}

/*Responsive Styling*/

/*Navigation Bar*/
nav a {
	margin-right: 1.5rem;
}

nav a:hover {
	border: 1px solid whitesmoke;
	border-radius: 35px;
	padding: 10px 40px;
	background-color: rgba(125, 125, 125, 49);
	transition: 0.3s;
}


/*Landing/Home Styling*/
.landing-page {
	position: relative;
	background-image: url(https://freerangestock.com/sample/137610/lonely-man-under-night-sky--starry-sky-over-the-horizon--conte.jpg);
	background-size: cover;
	background-position: 25% 90%;
	background-repeat: no-repeat;
	min-height: 100vh;
	width: 100%;
	display: flex;
	text-align: center;
	flex-direction: column;
	overflow: 	hidden;
}

.bubbles {
	position: relative;
	display: flex;
}

.bubbles span {
	position: relative;
	width: 30px;
	height: 30px;
	background-color: #4fc3dc;
	margin: 0 5px;
	border-radius: 50%;
	box-shadow: 0 0 0 10px #4fc3dc44,
	0 0 50px #4fc3dc,
	0 0 100px #4fc3dc;
	animation: animate 15s linear infinite;
	animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even) {
	background: #ff2d75;
	box-shadow: 0 0 0 10px #ff2d7544,
	0 0 50px #ff2d75,
	0 0 100px #ff2d75;
}

@keyframes animate {
	0% {
		transform: translate(100vh) scale(0);
	}
	100% {
		transform: translate(-10vh) scale(1);
	}
}

.landing-introduction {
	padding-top: 10rem;
	color: rgba(255, 181, 82, 1.0);
	font-size: 2rem;
}

#landing-header {
	font-size: 5rem;
	text-transform: uppercase;
}

/*About Me Styling*/
#my-photo {
	position: relative;
	height: 30vh;
	width: 25vw;
	border-radius: 50%;
}

#fblogo {
	height: 4rem;
}

#linkedin {
	margin-top: 0.5rem;
	height: 3.25rem;
}

#github-logo {
	margin-left: 0.5rem;
	margin-top: 0.5rem;
	height: 3rem;
}

.description {
	color: white;
	text-align: justify;
}

.description h2 {
	font-size: 3rem;
	padding-bottom: 1rem;
}

.description h3 {
	font-size: 2rem;
	padding-bottom: 1rem;
}

.description p {
	font-size: 1.5rem;
}

.description img {
	margin: auto;
	padding: auto;
	height: 10vh;
	width: 10vh;
}

/*Project Styling*/
.project {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: rgba(70, 70, 70, 27);
}

.project-header {
	color: white;
	text-align: center;
}

.project-header h2 {
	font-size: 3rem;
}

.project-header p {
	font-size: 1.5rem;
}

.carousel-item h5 {
	margin-top: 3rem;
	font-size: 3rem;
}

.carousel-item p {
	font-size: 2rem;
	margin-bottom: 2rem;
}

.icon {
	background-color: #6c757d;
	opacity: 1;
}

/*Contact Section Styling*/
#interested-div {
	background-color: #64788C;
}
form {
	background-color: #6c757d;
	padding: 10px 30px;
	border: 1px solid white;
}